extends ./layouts/adminLayout.pug

block content 
    .container
        .d-flex.justify-content-between.gap-3.align-items-center.flex-wrap.mt-5.mb-4
            a(href="/categories")
                button.btn.btn-primary.btn-icon
                    ion-icon(name="arrow-back")
                    span.ms-2 Back to Categories

        h2.mt-5.mb-4 Add Category
        form(action=`/categories/add-category`, method='POST')
            .d-flex.justify-content-between.gap-4
                .mb-3.flex-fill
                    label.form-label(for='exampleText2') Category
                    input#exampleText2.form-control(type='text' name="name" autocomplete="off" required)
            .d-flex.justify-content-between.gap-4
                .mb-4.flex-fill
                    label.form-label(for='exampleText3') Category Description
                    textarea#exampleText3.form-control(type='text' name="description" rows="3")
                    .form-text#emailHelp Provide a product description. If none, leave blank.

            .d-grid
                button.btn.btn-primary(type='submit') Add