extends ./layouts/adminLayout.pug

block content 
    .container
        .d-flex.justify-content-between.gap-3.align-items-center.flex-wrap.mt-5.mb-4
            a(href="/customers")
                button.btn.btn-primary.btn-icon
                    ion-icon(name="arrow-back")
                    span.ms-2 Back to Customers

        h2.mb-3 Add Customer
        form(action=`/customers/add-customer`, method='POST')
            .d-flex.justify-content-between.gap-4
                .mb-3.flex-fill
                    label.form-label(for='exampleText2') Name
                    input#exampleText2.form-control(type='text' name="name" autocomplete="off" required)
                .mb-2.flex-fill
                    label.form-label(for='exampleText3') Phone
                    input#exampleText3.form-control(type='tel' name="phone" autocomplete="off" required)
                .mb-2.flex-fill
                    label.form-label(for='exampleText3') Email
                    input#exampleText3.form-control(type='email' name="email" autocomplete="off")
                    .form-text#emailHelp (Optional)
            .d-flex.justify-content-between.gap-4
                .mb-2.flex-fill
                    label.form-label(for='exampleText3') Address
                    input#exampleText3.form-control(type='text' name="address" autocomplete="off" required)
                .mb-2.flex-fill
                    label.form-label(for='exampleText3') Loyalty Points
                    select#exampleText3.form-select(type='text' name="loyaltyPoints" required)
                        option(value="" disabled selected) Select
                        option(value="0") 0
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                        option(value="8") 8
                        option(value="9") 9
                        option(value="10") 10

            .d-flex.justify-content-between.gap-4
                .mb-4.flex-fill
                    label.form-label(for='exampleText3') Note
                    textarea#exampleText3.form-control(type='text' name="note" rows="3")
                    .form-text#emailHelp Provide a note about the customer, so you can remember him better. (Optional)

            .d-grid
                button.btn.btn-primary(type='submit') Add